version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/F1-Dash-App"
    schedule:
      interval: "weekly"
    groups:
      frontend-dependencies:
        patterns:
          - "*"
    open-pull-requests-limit: 10

  - package-ecosystem: "pip"
    directory: "/backend"
    schedule:
      interval: "weekly"
    groups:
      backend-dependencies:
        patterns:
          - "*"
    open-pull-requests-limit: 10
    
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      actions-dependencies:
        patterns:
          - "*"
